#loader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(88, 229, 246, 0.54);
    display: flex;
    justify-content: center;
    align-items: center;
}

#loader img {
    position: relative;
}
