#chatGame header{
    display: flex;
    justify-content: space-between;
    padding-right: 2%;
    padding-left: 2%;

    border: 1px solid dimgrey;
    background-color: white;

}

#chatGame ul{
    display: flex;
    list-style-type: none;
    padding: 0;
}

#chatGame ul li{
    text-align: center;
    white-space: nowrap;
    margin-right: 10%;
    font-size: 20px;
}

#chatGame ul li:first-of-type{
    font-weight: bolder;
}

#chatGame header p{
    font-size: 18px;
}
