body {
  margin: 0;
  font-family: Arial, "Times New Roman", serif;
}


#root {
  display: flex;
  flex-direction: column;
  height : 100vh;
  background-color: rgba(97, 218, 251, 0.06);
  overflow: hidden;
}
